h3 {
    font-family: Overpass, Roboto, SansSerif, "Noto Mono";
    margin: 0px;
    margin-top: 5px;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

img {
    margin: 10px;
}

.navbar, .cs-footer {
    background-color: #ABD1E3;
}

.cs-footer {
    height: 60px;
    padding: 15px 0 0 0;
    position: fixed;
    display: block;
    clear: inherit;
    bottom: 0;
}

div .navbar-nav {
    margin: 15px;
}

.cs-header {
    margin-bottom: -20px;
    height: 60px;
    width: 100%;
}

.sidebar {
    margin-top: -120px;
    top: 50%;
    position: fixed;
    left: -70px;
}

.side-button {
    height: 80px;
}

.heading {
    font-family: Indie Flower, Overpass, sans-serif;
    font-size: 52px
}

.cs-label {
    /*padding-bottom: 10px;*/
    font-size: 14px;
}

.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

.ng-valid.ng-dirty {
    border-color: #78FA89;
}

.cs-register {
    margin-bottom: 60px;
}

.cs-login {
    /*display: flex;*/
}

div .form-group .form-control-label {
    padding-top: 5px;
}