h4 {
    font-family: Overpass, Roboto, SansSerif, "Noto Mono";
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

img {
    margin: 10px;
}

.navbar, .cs-footer {
    background-color: #ABD1E3;
}

.cs-footer {
    height: 60px;
    /*padding: 12px 0 0 0;*/
    position: fixed;
    display: block;
    clear: inherit;
    bottom: 0;
    width: 100%;
}


div .navbar-nav {
    margin: 15px;
}

.cs-header {
    height: 60px;
    width: 100%;
    padding: 0;
}

.sidebar {
    margin-top: -120px;
    top: 50%;
    position: fixed;
    left: -67px;
}

.side-button {
    height: 80px;
    background-color: #337ab7;
    border-color: #2e6da4;;

}

.header-dropdown {
    position: relative;
    border-color: gray;
}

.heading {
    font-family: Indie Flower, Overpass, sans-serif;
    font-size: 52px
}

.cs-label {
    font-size: 14px;
}

.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

.ng-valid.ng-dirty {
    border-color: #78FA89;
}

.cs-register {
    margin-bottom: 60px;
}

div .form-group .form-control-label {
    padding-top: 5px;
}