h3 {
    font-family: Overpass, Roboto, SansSerif, "Noto Mono";
    margin: 0px;
    margin-top: 5px;
}
img {
    margin: 10px;
}
.navbar {
    background-color: #ABD1E3;
}

div .navbar-nav {
    margin: 15px;
}


